/* @font-face {
    font-family: fa;
    src: url(fonts/roboto-regular.ttf);
    font-family: Arial, sans-serif;
} */

body {
    margin: 0;
}

#image-container {
    position: relative;
}

#main-img {
    width: 100%;
}

.point {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    color: white;
    text-align: center;
    cursor: pointer;
}

.box {
    width: 40px;
    height: 40px;
    position: absolute;
    border: 1px solid white;
    cursor: pointer;
}

#popup{
    font-family: fa;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#zoom-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;    
    padding: 20px;
    border: 1px solid #ccc;
    display: none;
    z-index: 2;
    transition: transform 0.5s ease-in-out;
}

#zoom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#zoom-img{
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.close-btn {
    cursor: pointer;
    align-self: top;
}