body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 50px;
    padding: 20px;
    justify-content: space-evenly; /* Center the grid horizontally */
}

.grid-item {
    border-style: solid;
    margin-top: 50px;
    margin-bottom: 50px;
    /* padding-top: 50px;
    padding-bottom: 50px; */
    border-radius: 50px;
    cursor: pointer;
    max-width: 200px;
}

.detail-container {
    display: none;
    padding: 100px 500px 100px 500px;
    align-self: center;
}

#macroDetail img {
    /* max-width: 100%;
    max-height: 100px; */
    height: auto;
    align-items: center;
}
